<html>
    <head>
        <title>Galen Reports</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="report.css"></link>
        <link rel="stylesheet" type="text/css" href="tablesorter.css"></link>
        <script src="jquery-1.11.2.min.js"></script>
        <script src="handlebars-v2.0.0.js"></script>
        <script src="tablesorter.js"></script>
        <script src="galen-report.js"></script>
        <script>
var reportData = {
  "tests" : [ {
    "name" : "testZaZadaciManjeOd600.gspec",
    "startedAt" : 1541442478764,
    "endedAt" : 1541442489125,
    "failed" : false,
    "statistic" : {
      "passed" : 18,
      "errors" : 0,
      "warnings" : 0,
      "total" : 18
    },
    "testId" : "1-testzazadacimanjeod600.gspec",
    "failed" : false,
    "duration" : 10361
  } ]
};

        </script>
        <script>
            $(function () {
                var galenReport = createGalenTestOverview();
                galenReport.renderTestsTable("tests-table", reportData);
                galenReport.renderGroupsTable("groups-table", reportData);

                window.onhashchange = function () {
                    galenReport.handleHash(window.location.hash.substr(1));
                };

                galenReport.handleHash(window.location.hash.substr(1));
            });
        </script>
    </head>
    <body>


        <div class="tests-overview">
            <h2>Galen Test Report</h2>
            <div class="tabs">
                <a class="tab tab-tests" href="#tests">Tests</a>
                <a class="tab tab-groups" href="#groups">Groups</a>
            </div>
            <div id="tests-table">
            </div>
            <div id="groups-table">
            </div>

            <script id="tests-table-tpl" type="text/x-handlebars-template">
                <table class="tests tablesorter">
                    <thead>
                        <tr>
                            <th>Test</th>
                            <th>Passed</th>
                            <th>Failed</th>
                            <th>Warnings</th>
                            <th>Total</th>
                            <th>Groups</th>
                            <th>Started</th>
                            <th>Duration</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each tests}}
                        <tr data-groups="{{groups}}">
                            <td class="suite-link">
                                <a href="{{testId}}.html">{{name}}</a>
                            </td>
                            <td class="status passed">{{statistic.passed}}</td>
                            <td class="status failed">{{statistic.errors}}</td>
                            <td class="status warnings">{{statistic.warnings}}</td>
                            <td class="status total">{{statistic.total}}</td>
                            <td class="tags">{{formatGroupsPretty groups}}</td>
                            <td class="time">{{formatDateTime startedAt}}</td>
                            <td class="time">{{formatDurationHumanReadable duration}}</td>
                            <td class="progressbar">
                                {{renderProgressBar statistic}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </script>
            <script id="groups-table-tpl" type="text/x-handlebars-template">
                <table class="groups tablesorter">
                    <thead>
                        <tr>
                            <th>Group</th>
                            <th>Passed</th>
                            <th>Failed</th>
                            <th>Tests</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this}}
                        <tr>
                            <td class="group-link">
                                <a href="#tests|grouped|{{name}}">{{name}}</a>
                            </td>
                            <td class="status passed">{{passed}}</td>
                            <td class="status failed">{{failed}}</td>
                            <td class="status total">{{tests}}</td>
                            <td class="progressbar">
                                {{renderGroupsProgressBar this}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </script>
        </div>
    </body>
</html>
