@media only screen and (min-Width: 600px){


    #header {
        background-color:  #ffe5cc;
        height: 20%;
        
    }   

    #footer {
        background-color:  #ffe5cc;
        height: 13%;
        clear: both;
        margin-bottom: 0;
        margin-top: 0;
    }


    #logo {
        float: left;
        height: 40px;
        width: 40px;;
        padding-top: 1.5%;
        padding-left: 1.5%;
    }

    h1 {
        float: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-right: 1%;
        margin-top: 2%;
        color: #5b82d7;
        
    }

    a:link{
        color: #0f1e3e;
    }

    #meni ul li{
        display:inline-block;   
    }

    #meni {
        height: 30%;
        background-color:  #ffe5cc;
        clear: both;
        padding-top: 0.5%;
    }

    li {
        font-size: 1.1em;
    }

    ul {
        margin-left: -1.5%;
    }

    #parFooter {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.3em;
        text-align: left;
        padding-top: 1%;
        margin-left: 0.5%; 
        color: #0f1e3e;
    }

}

@media only screen and (max-Width: 600px){

  

    #header {
        background-color:  #ffe5cc;
        height: 25%;
        margin-bottom: -5.5%;
        
    }   

    #footer {
        background-color:  #ffe5cc;
        height: 8%;
        clear: both;
        margin-top: 0;
        margin-bottom: 0;

    }


    h1 {
        float: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 1%;
        margin-top: 0;
        color: #5b82d7;
        position: relative;
        top:70%;
        font-size: 1.2em;

    }

    img {
        float: left;
        height: 25px;
        width: 25px;
        padding-top: 1.5%;
        padding-left: 1.5%;
    }

    a:link{
        color: #0f1e3e;
    }

    #meni ul li{
        display:inline-block;
    }

    #meni {
        height: 50%;
        background-color:  #ffe5cc;
        padding-top: 4%;
        margin-bottom: 0;
    }

    li {
        font-size: 1em;
    }

    ul {
        margin-left: -1.5%;
        margin-bottom: 0;
    }

    #parFooter {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.3em;
        text-align: left;
        padding-top: 1%;
        margin-left: 0.5%; 
        color: #0f1e3e;
    }


   
}