@media only screen and (min-Width: 600px){

    body {
        height: 100vh;
        margin: auto;
    }

    #vjezbe {
        height: 100%;
        background-color: #adc1eb;
    }

    #glavniSadrzaj {
        width: 85%;
        margin: auto; 
        background-color: #eaeffa; 
        margin-bottom: -1.3em;
        height: 72%;
    }


    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.1em;
        text-align: left;
        color: #0f1e3e;
        position: relative;
        left:10%;
        margin-bottom: 0;
    }

    form[name="fMasovni"] {
        text-align: left;
        border: outset;
        height: 40%;
        width: 40%;
        margin: auto;
        position: relative;
        top:1%;
        background-color: #d6e0f5;
    }

    form[name="fPojedinacni"] {
        text-align: left;
        border: outset;
        height: 53%;
        width: 40%;
        margin: auto;
        position: relative;
        top:1%;
        background-color: #d6e0f5;
        margin-bottom: 0.5%;
    }

    .parUFormi {
        text-align: left;
        font-size: 1em;
        position: relative;
        left:10%;
        margin-bottom: 0;
        margin-top:2%;
    }

    input[type="text"] {
        position: relative;
        left:10%;
        width: 47%;
    }

    input[type="number"] {
        position: relative;
        left:10%;
        width: 47%;
    }

    input[type="email"] {
        position: relative;
        left:10%;
        width: 47%;
    }

    input[type="file"] {
        position: relative;
        left:10%;
        width: 47%;
    }
    
    input[type="submit"] {
        width: 25%;
        margin-top: 4%;
        float: right;
        margin-right: 7.5%;
        margin-bottom: 0.5%;
    }

    select {
        margin-left: 10%;
        width: 48%;
        height: 9%;
    }

   
    
}

@media only screen and (max-Width: 600px){

    body {
        height: 100vh;
        margin: auto;
    }

    #vjezbe {
        height: 100%;
        background-color: #adc1eb;
    }



    #glavniSadrzaj {
        width: 100%;
        background-color: #eaeffa;
        height: 73%;  
        margin-bottom: -1.3em;
    }


    a:link{
        color: #0f1e3e;
    }


    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1em;
        text-align: center;
        color: #0f1e3e;
    }


    form[name="fMasovni"] {
        text-align: left;
        border: outset;
        height: 40%;
        width: 40%;
        margin: auto;
        position: relative;
        top:2%;
        background-color: #d6e0f5;
    }

    form[name="fPojedinacni"] {
        text-align: left;
        border: outset;
        height: 53%;
        width: 40%;
        margin: auto;
        position: relative;
        top:2%;
        background-color: #d6e0f5;
    }


    .parUFormi {
        text-align: left;
        font-size: 1em;
        position: relative;
        left:10%;
        margin-top:1%;
        margin-bottom: 1%;
    }
    input[type="text"] {
        position: relative;
        left:10%;
        margin-top: 1%;
        width: 46%;
        margin-top:1%;
        margin-bottom: 1%;
    }

    input[type="number"] {
        position: relative;
        left:10%;
        margin-top: 1%;
        width: 46%;
        margin-top:1%;
        margin-bottom: 1%;
    }

    input[type="email"] {
        position: relative;
        left:10%;
        margin-top: 1%;
        width: 46%;
        margin-top:1%;
        margin-bottom: 1%;
    }

    input[type="file"] {
        position: relative;
        left:10%;
        margin-top: 1%;
        width: 46%;
        margin-top:1%;
        margin-bottom: 1%;
    }

    input[type="submit"] {
        width: 33%;
        margin-top: 1%;
        float: right;
        margin-right: 7%;
        margin-bottom: 0.5%;
    }
    

    select {
        margin-top: 1%;
        margin-left: 10%;
        width: 48%;
        height: 8.5%;
    }

   
}