@media only screen and (min-Width: 600px){

    body {
        height: 100vh;
        margin: auto;
    }

    #zadaci {
        height: 100%;
    }

    .cetvrtina {
        width: 25%;
        height: 72%;
        background-color:   #eaeffa;
        float: left;
    }

    .polovina {
        background-color: #eaeffa;
        width: 50%;
        height: 72%;
        float: right;
    }

    a:link{
        color: #0f1e3e;
    }

    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.3em;
        text-align: center;
        color: #0f1e3e;
    }

    #godina, #imena {
        list-style:none;
        overflow-y:scroll;
        margin: auto;
        border: 1px solid black;
        width: 35%;
        background-color: white;
        max-height: 63%;
        height: 63%;
    }

    #imena li, #godina li {
        text-align: left;
        color: #0f1e3e;
        margin-left: -25%;
        font-size: 1em;
    }

    form {
        text-align: center;
    }

    input[type="text"] {
        margin-bottom: 2%;
        width: 41%;
    }

    input[type="submit"] {
        margin-bottom: 2%;
        width: 42%;
        margin-right: 1.2%;
    }
    
    .folder {
        height: 45%;
        width: 60%;
        background-color: #eaeffa;
        margin: auto;
        border: outset;
        margin-top: 2%;
    }

    .parUPolovini {
        text-align: left;
        margin-top: 1%;
        margin-left: 1%;

    }

    .item {
        height: 30%;
        width: 25%;
        background-color: #5b82d7;
        border-style: solid;
        border-color: #0f1e3e;
        margin-top: 1.5%;
        margin-left: 1.5%;
        float: left;
        
    }

    .parUFolderu {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1em;
        text-align: center;
        color: #0f1e3e;
    }

    
}

@media only screen and (max-Width: 600px){

    body {
        height: 100vh;
        margin: auto;
    }

    #zadaci {
        height: 100%;
    }

    .cetvrtina {
        background-color:   #eaeffa;
        height: 40%;
        margin-top: -7%;
        margin-bottom: -1.3em;
    }

    .polovina {
        background-color:   #eaeffa;
        height: 40%;
        margin-bottom: -1.3em;
    }


    a:link{
        color: #0f1e3e;
    }


    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.3em;
        text-align: center;
        color: #0f1e3e;
    }
  
    #godina, #imena {
        list-style:none;
        overflow-y:scroll;
        margin: auto;
        border: 1px solid black;
        width: 35%;
        background-color: white;
        max-height: 54%;
        height: 54%;
    }

    #godina li, #imena li {
        text-align: left;
        color: #0f1e3e;
        margin-left: -1.5em;
    }

    .item {
        width: 100%;
    }

    form {
        text-align: center;
    }

    input[type="text"] {
        margin-bottom: 1%;
        width: 30.5%;
        margin-left: 0.5%;
    }

    input[type="submit"] {
        margin-bottom: 1%;
        width: 31.5%;
        margin-right: 0.5%;
    }

    .folder {
        height: 45%;
        width: 55%;
        background-color: #eaeffa;
        margin: auto;
        border: outset;
        margin-top: 1.5%;
    }

    .parUPolovini {
        text-align: left;
        margin-top: 0.5%;
        margin-left: 0.5%;

    }

    .item {
        height: 20%;
        width: 15%;
        background-color: #5b82d7;
        float: left;
        margin-left: 0.8%;
        margin-right: 0.8%;
        margin-top: 0.8%;
        border-style: solid;
        border-color: #0f1e3e;
    }

    .parUFolderu {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 0.5em;
        text-align: center;
        color: #0f1e3e;
    }

   
}