@media only screen and (min-Width: 600px){

    body {
        height: 100vh;
        margin: auto;
    }

    #okvir {
        height: 100%;
        background-color: #adc1eb;
    }


    #side {
        width: 35%;
        background-color: #eaeffa;
        height: 72%;
        float: left;
    }

    #glavniSadrzaj {
        width: 65%;
        margin: auto; 
        background-color: #c1d0f0; 
        height: 72%;
        float: right;
    }

    .godina {
        background-color: #eaeffa;
        height: 40%;
        width: 40%;
        float: left;
        margin-left: 5%;
        margin-top: 2%;

    }


    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5em;
        text-align: center;
        color: #0f1e3e;
        position: relative;
        margin-bottom: 3%;
    }


    .parUFormi {
        text-align: left;
        font-size: 1em;
        position: relative;
        left:10%;
        margin-bottom: 1%;
        margin-top:2%;
    }


    .parUDiv {
        font-size: 1em;
        font-weight: bold;
        text-align: center;
    }

    input[type="text"] {
        position: relative;
        left:10%;
        width: 47%;
        margin-bottom: 2%;
    }
  
    input[type="submit"] {
        width: 25%;
        margin-top: 10%;
        float: right;
        margin-right: 25%;
        margin-bottom: 0.5%;
    }

    input[type="button"] {
        width: 23%;
        float:left;
        margin-top: 10%;
        margin-left: 10%;
        margin-bottom: 0.5%;
    }

    span {
        font-size: 1em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #0f1e3e;
        font-weight: normal;
    }

    
}

@media only screen and (max-Width: 600px){

    body {
        height: 100vh;
        margin: auto;
    }

    #okvir {
        height: 100%;
        background-color: #adc1eb;
    }

    #side {
        width: 100%;
        background-color: #eaeffa;
        height: 50%; 
    }

    #glavniSadrzaj {
        width: 100%;
        background-color: #c1d0f0; 
        height: 73%;  
        margin-bottom: -16%;
    }

    .godina {
        background-color: #eaeffa;
        height: 40%;
        width: 30%;
        float: left;
        margin-left: 2%;
        margin-top: 2%;

    }

    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1em;
        text-align: center;
        color: #0f1e3e;
        margin-bottom: 0;
    }

    .parUFormi {
        text-align: left;
        font-size: 1em;
        position: relative;
        left:10%;
        margin-top:1%;
        margin-bottom: 1%;
    }

    .parUDiv {
        font-size: 0.8em;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;
    }

    span {
        font-size: 0.8em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #0f1e3e;
        font-weight: normal;
    }

    input[type="text"] {
        position: relative;
        left:10%;
        margin-top: 1em;
        width: 46%;
        margin-top:1%;
        margin-bottom: 1%;
    }


    input[type="submit"] {
        width: 33%;
        margin-top: 10%;
        float: right;
        margin-right: 7%;
        margin-bottom: 0.5%;
    }


    input[type="button"] {
        width: 23%;
        float:left;
        margin-top: 10%;
        margin-left: 10%;
        margin-bottom: 0.5%;
    }

   
}