@media only screen and (min-Width: 600px){

    body {
        height: 100vh;
        margin: auto;
    }

    #zadaci {
        height: 100%;
        background-color: #adc1eb;
    }

    #glavniSadrzaj {
        width: 85%;
        margin: auto; 
        background-color: #eaeffa; 
        margin-bottom:-1.3em;
        height: 72%;
    }

    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.3em;
        text-align: center;
        color: #0f1e3e;
    }

    #noviZadatak {
        text-align: left;
        border: outset;
        height: 90%;
        width: 40%;
        margin: auto;
        position: relative;
        top:5%;
        background-color: #d6e0f5;
    }

    .parUFormi {
        text-align: left;
        font-size: 1em;
        position: relative;
        left:10%;
        top:5%;
    }

    input[type="text"] {
        position: relative;
        left:10%;
        width: 46%;
    }

    input[type="file"] {
        position: relative;
        left:10%;
        margin-top: 5%;
    }


    input[type="submit"] {
        width: 27%;
        margin-top: 5%;
        margin-left: 56%;
    }
    

    select {
        margin-top: 5%;
        margin-left: 10%;
        width: 48%;
        height: 5%;
    }
    
}

@media only screen and (max-Width: 600px){

    body {
        height: 100vh;
        margin: auto;
    }

    #zadaci {
        height: 100%;
        background-color: #adc1eb;
    }

    #glavniSadrzaj {
        width: 100%;
        background-color: #eaeffa;
        height: 73%;  
        margin-bottom: -1.3em;
    }


    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.3em;
        text-align: center;
        color: #0f1e3e;
    }

    #noviZadatak {
        text-align: left;
        border: outset;
        height: 90%;
        width: 60%;
        margin: auto;
        position: relative;
        top:5%;
        background-color: #d6e0f5;
    }

    .parUFormi {
        text-align: left;
        font-size: 1em;
        position: relative;
        left:10%;
        top:5%;
    }
    input[type="text"] {
        position: relative;
        left:10%;
        margin-top: 1%;
        width: 46%;
    }

    input[type="file"] {
        position: relative;
        left:10%;
        margin-top: 6%;
    }


    input[type="submit"] {
        width: 27%;
        margin-top: 6%;
        margin-left: 30%;
    }
    

    select {
        margin-top: 6%;
        margin-left: 10%;
        width: 48%;
        height: 5%;
    }

   
}