@media only screen and (min-Width: 600px){

    body {
        height: 100vh;
        margin: auto;
    }

    #commit {
        height: 100%;
    }

    #glavni {
        background-color: #eaeffa;
        width: 100%;
        height: 73%;
        margin-bottom: -1.88em;
        margin-top: -1.98%;
        
    }

    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.2em;
        text-align: left;
        color: #0f1e3e;
        margin-top: 2%;
        margin-left: 25%;
        position: relative;
        top:2%;
        margin-bottom: 1%;
    }

    #hyperlink:link {
        color: blue;
    }

    a:link{
        color: #0f1e3e;
    }


    #commiti,  td {
        text-align: center;
        border: 1px solid blue;
        width: 50%;
        height: 70%;
   }

   #commiti {
    border-collapse: collapse;
    margin: auto;
    margin-top: 1em;
   }

   td{
    height: 2%;
    width: 5%;
    color: #0f1e3e;
    text-align: center;
   }


    tr:first-child {
        background-color: #6f92dc;
        height: 0.5%;
        width: 5%;
    }       

    td:first-child {
        width: 10%;
    }

}

@media only screen and (max-Width: 600px){

    body {
        height: 100vh;
        margin: auto;
    }

    #commit {
        height: 100%;
    }

    #glavni {
        background-color: #eaeffa;
        width: 100%;
        height: 76%;
        margin-bottom: -1.3em;
    }

    a:link{
        color: #0f1e3e;
    }


    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1em;
        text-align: left;
        color: #0f1e3e;
        margin-top:1%;
        margin-left: 20%;
    }


    #podaci {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.3em;
        text-align: center;
        color: #0f1e3e;
    }


    #hyperlink:link {
        color: blue;
    }

    #commiti, td {
        text-align: center;
        border: 1px solid blue;
        width: 60%;
        height: 70%;
   }

   #commiti {
        border-collapse: collapse;
        margin: auto;
    }

    td{
        height: 2%;
        width: 5%;
        color: #0f1e3e;
        text-align: center;
       }
    
    
    tr:first-child {
        background-color: #6f92dc;
        height: 0.5%;
        width: 5%;
    }       
    
    td:first-child {
        width: 10%;
    }
   
}