body {
    background-color: #adc1eb;
    height: 100vh;
    margin: auto;
}


#login {
    background-color: #eaeffa;
    height: 12em;
    width: 19em;
    display: table-cell;
    margin: auto auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

form{
    text-align: center;
    padding-top: 3.5em;
    color: #5c85d6;
}

input[type=text] {
    margin-bottom: 1em;
    border-style: ridge;
    border-color: #5c85d6;
    border-radius: 1em;
    color: #3063cf;
}

input[type=password] {
    margin-bottom: 2em;
    border-style: ridge;
    border-color: #5c85d6;
    border-radius: 1em;
    color: #3063cf;
}

input[type=button] {
    height: 2em;
    width: 7em;
    float: right;
    margin-right: 6.5em;
    border-style: ridge;
    border-color: #5c85d6;
    background-color: white;
    color: #5c85d6;
    border-radius: 1em;
}



